html
	head
		title ライセンス
		//- meta(name="description" content="Description")
		meta(name="viewport", content="width=device-width, height=device-height, maximum-scale=1.0")
		meta(charset="utf-8")
		link(rel="stylesheet" href="./info/styl/main.css")

	body

		.content-area
			.icon-container.flex-center
				.icon
			.title.flex-center ライセンス
			.detail.flex-center.license-detail
				| keyaki2は
				br
				| 以下のオープンソースライブラリを
				br
				| 使用しています
				
			.license-list
				
				.license
					.license-title FMDB
					.license-copyright Copyright (c) 2008-2014 Flying Meat Inc.
				
				//- .license
				//- 	.license-title AFNetworking
				//- 	.license-copyright Copyright (c) 2011-2016 Alamofire Software Foundation (http://alamofire.org/)
						
				.license
					.license-title DZNEmptyDataSet
					.license-copyright Copyright (c) 2015 Ignacio Romero Zurbuchen iromero@dzen.cl
						
				.license
					.license-title SDWebImage
					.license-copyright Copyright (c) 2016 Olivier Poitrey rs@dailymotion.com
						
				.license
					.license-title SGNavigationProgress
					.license-copyright Copyright (c) 2013 sgryschuk
						
				.license
					.license-title SVProgressHUD
					.license-copyright Copyright (c) 2011-2016 Sam Vermette, Tobias Tiemerding and contributors.
						
				.license
					.license-title Toast
					.license-copyright Copyright (c) 2011-2015 Charles Scalesse.

				//新規追加
				.license
					.license-title Hokusai
					.license-copyright Copyright (c) 2015 ytakzk <shyss.ak@gmail.com>
				
				//新規追加
				.license
					.license-title Punycode
					.license-copyright Copyright (c) 2005-2016, Nate Weaver (Wevah)/Derailer
				
				//新規追加
				.license
					.license-title JTSImageViewController
					.license-copyright Copyright (c) 2014 Jared Sinclair
				
				.license
					.license-title Icons
					.license-description Icon made by Freepik from www.flaticon.com is licensed under CC BY 3.0
				
				br
			.footer.flex-center
				.bar
				span keyaki2
							
