html
  head
    title 今日のPerfume
    meta(name="viewport", content="width=device-width, height=device-height, maximum-scale=1.0")
    meta(charset="utf-8")
    meta(name="apple-itunes-app" content="app-id=1102447762")
    link(rel="stylesheet" href="./styl/main.css?t=1234")

  body
    .summary-list-header
      .icon-container.flex-center
        .icon
      .title.flex-center 今日のPerfume
      .description.flex-center 2016/12/31(土)

    .message-area
      | おはようございます！
      br
      br 
      | 2016年最終日の
      br
      | Perfumeメディア情報を
      br
      | お知らせします。


    //- .no-summary
    //-   .message 今日のPerfume情報はありません

    .summary-list

      .summary
        .icon.flex-center
          .icon-text RADIO
        .summary-info
          .info-header 
            | 09:00〜09:30 (FM岐阜)
          .info-body あ〜ちゃん ちゃあぽんの“West Side Story”

      .summary
        .icon.flex-center
          .icon-text RADIO
        .summary-info
          .info-header 
            | 18:00～18:30 (FM岩手・FM福井)
          .info-body あ〜ちゃん ちゃあぽんの“West Side Story”

      .summary
        .icon.flex-center
          .icon-text TV
        .summary-info
          .info-header 19:15～23:45
          .info-body NHK総合「第67回NHK紅白歌合戦」

      .summary
        .icon.flex-center
          .icon-text RADIO
        .summary-info
          .info-header 
            | 19:00～19:30 (FM滋賀)
          .info-body あ〜ちゃん ちゃあぽんの“West Side Story”

      .summary
        .icon.flex-center
          .icon-text TV
        .summary-info
          .info-header 23:45～
          .info-body TBS「CDTVスペシャル！年越しプレミアムライブ2016→2017」

      .summary
        .icon.flex-center
          .icon-text RADIO
        .summary-info
          .info-header 
            | 26:00～26:30 (FM新潟・FM岡山)
          .info-body あ〜ちゃん ちゃあぽんの“West Side Story”

      .summary
        .icon.flex-center
          .icon-text RADIO
        .summary-info
          .info-header 
            | 27:30～28:00 (FM宮崎)
          .info-body あ〜ちゃん ちゃあぽんの“West Side Story”

      //- .summary
      //-   .icon
      //-   .summary-info
      //-     .info-header 23:00〜23:30
      //-     .info-body TOKYO FM系「Perfume LOCKS!」

      //- .summary
      //-   .icon
      //-   .summary-info
      //-     .info-header 24:05〜24:50
      //-     .info-body NHK総合「MUSIC JAPAN」

      //- .summary
      //-   .icon
      //-   .summary-info
      //-     .info-header 26:00〜26:30
      //-     .info-body FM新潟「あ〜ちゃん ちゃあぽんの！“West Side Story”」

      //- .summary
      //-   .icon
      //-   .summary-info
      //-     .info-header 27:30～28:00
      //-     .info-body FM宮崎「あ〜ちゃん ちゃあぽんの！“West Side Story”」

      .remark 
          | ※記載されております放送日時は、特別番組、地震等の臨時対応、その他の諸事情によりやむを得ず、変更・中止になる可能性もございます。予めご了承ください。

    .footer
      .title.flex-center PerfumeHub
      .version-info.flex-center v0.1.1 ( Web )