html
	head
		title pittankopta.net
		meta(name="viewport", content="width=device-width, height=device-height, maximum-scale=1.0")
		meta(charset="utf-8")
		if local != "production"
			meta(name="ROBOTS", content="noindex,nofollow,noarchive,noodp,noydir")
		
		link(rel="stylesheet" href="./styl/main.css")

	body
		.header
			.header-title pittankopta.net

		.content-area

			h2 Apps
			.description
				| 今までに作ったアプリです。
				br

			.app-list
				.app
					a.icon.perfume-hub(href="")
					.name PerfumeHub
					.platform-container
						span.platform iOS
						span.platform Android

				.app
					a.icon.keyaki2(href="")
					.name keyaki2
					.platform-container
						span.platform iOS

				.app
					a.icon.nogi2(href="")
					.name nogi2
					.platform-container
						span.platform iOS

				.app
					a.icon.ticklir2(href="")
					.name ticklir2
					.platform-container
						span.platform Web

				.app
					a.icon.sparql-parkl(href="")
					.name パークる
					.platform-container
						span.platform Web

				.app
					a.icon.spam-checker(href="")
					.name きらいじゃけん
					.platform-container
						span.platform Web

				.app
					a.icon.vendor-dk3(href="")
					.name ジハンキマニア
					.platform-container
						span.platform iOS

				.app
					a.icon.enamo(href="")
					.name eNAMO
					.platform-container
						span.platform iOS

			h2 Social
			//- .description
			//- 	| 今までに作ったアプリです。
			//- 	br
			//- 	| アイコンをクリックすると説明を表示します。
			//- 	br

			.social.flex-center
				a.round-icon.twitter.flex-center(href="https://twitter.com/pittanko_pta")
					svg.logo(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve" width="512px" height="512px")
						path(d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411    c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513    c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101    c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104    c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194    c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485    c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z")
				a.round-icon.github.flex-center(href="https://github.com/Pittan")
					svg.logo(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 92 92" style="enable-background:new 0 0 92 92;" xml:space="preserve" width="512px" height="512px")
						path(d="M61.896,52.548c-3.59,0-6.502,4.026-6.502,8.996c0,4.971,2.912,8.999,6.502,8.999   c3.588,0,6.498-4.028,6.498-8.999C68.395,56.574,65.484,52.548,61.896,52.548z M84.527,29.132c0.74-1.826,0.777-12.201-3.17-22.132   c0,0-9.057,0.993-22.76,10.396c-2.872-0.793-7.736-1.19-12.597-1.19s-9.723,0.396-12.598,1.189C19.699,7.993,10.645,7,10.645,7   c-3.948,9.931-3.913,20.306-3.172,22.132C2.834,34.169,0,40.218,0,48.483c0,35.932,29.809,36.508,37.334,36.508   c1.703,0,5.088,0.004,8.666,0.009c3.578-0.005,6.965-0.009,8.666-0.009C62.191,84.991,92,84.415,92,48.483   C92,40.218,89.166,34.169,84.527,29.132z M46.141,80.574H45.86c-18.859,0-33.545-2.252-33.545-20.58   c0-4.389,1.549-8.465,5.229-11.847c6.141-5.636,16.527-2.651,28.316-2.651c0.045,0,0.093-0.001,0.141-0.003   c0.049,0.002,0.096,0.003,0.141,0.003c11.789,0,22.178-2.984,28.316,2.651c3.68,3.382,5.229,7.458,5.229,11.847   C79.686,78.322,65,80.574,46.141,80.574z M30.104,52.548c-3.588,0-6.498,4.026-6.498,8.996c0,4.971,2.91,8.999,6.498,8.999   c3.592,0,6.502-4.028,6.502-8.999C36.605,56.574,33.695,52.548,30.104,52.548z")
				a.round-icon.instagram.flex-center(href="https://www.instagram.com/pittankopta/")
					svg.logo(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 169.063 169.063" style="enable-background:new 0 0 169.063 169.063;" xml:space="preserve")
						path(d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752   c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407   c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752   c17.455,0,31.656,14.201,31.656,31.655V122.407z")
						path(d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561   C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561   c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z")
						path(d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78   c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78   C135.661,29.421,132.821,28.251,129.921,28.251z")

			.footer.flex-center
				.bar
				span pittankopta.net

				.license
					.copy
						| Twitter Icon made by
						a(href="http://www.danielbruce.se/") Daniel Bruce
						| from
						a(href="http://www.flaticon.com") www.flaticon.com
					.copy
						| GitHub Icon made by
						a(href="https://www.elegantthemes.com/") Elegant Themes
						| from
						a(href="http://www.flaticon.com") www.flaticon.com
					.copy
						| Instagram Icon made by
						a(href="http://www.freepik.com") Freepik
						| from
						a(href="http://www.flaticon.com") www.flaticon.com
