html
	head
		title 更新履歴
		//- meta(name="description" content="Description")
		meta(name="viewport", content="width=device-width, height=device-height, maximum-scale=1.0")
		meta(charset="utf-8")
		link(rel="stylesheet" href="./info/styl/main.css")

	body

		.content-area
			.icon-container.flex-center
				.icon
			.title.flex-center PerfumeHub
			.detail.flex-center.license-detail
				| 更新履歴
				br
					
			.version-list
				//- 4.0
				.version-detail
					.version-title
						| 4.0
						span.codename Rena
						span.release-date 2016.11.19
					.version-description
						.desc アプリを作り直しました
						.desc 一部UIの変更
						.desc iPadに対応
						.desc 横画面に対応
						.desc 通知のバックエンドをAzureに乗り換え
						.desc iOS10でまともに使えるようにした
						.desc 一部画面で3D Touch対応
						.desc 避難所検索を一時的に削除
						.desc 広告の削除
						.desc 作者の小言通知を追加
						.desc 前バージョンの不具合修正
						
				//- 3.3
				.version-detail
					.version-title
						| 3.3
						span.codename Rena
						span.release-date 2016.11.2
					.version-description
						.desc 安定性向上
							
				//- 3.2.1
				.version-detail
					.version-title
						| 3.2.1
						span.codename Rena
						span.release-date 2016.10.18
					.version-description
						.desc iOS10で画像保存できない不具合の修正
						
				.version-detail
					.version-title
						| 3.2
						span.codename Rena
						span.release-date 2016.10.06
					.version-description
						.desc iOS10でブラウザ下部が白い不具合の修正

				.version-detail
					.version-title
						| 3.1.1
						span.codename Rena
						span.release-date 2016.06.05
					.version-description
						.desc 通知からP.T.A.通知が正しく開けない不具合の修正
						.desc 通知を開いた時に既読にならない不具合の修正

				.version-detail
					.version-title
						| 3.1
						span.codename Rena
						span.release-date 2016.05.27
					.version-description
						.desc アプリ起動時のエフェクトを追加

				.version-detail
					.version-title
						| 3.0.3
						span.codename Rena
						span.release-date 2016.05.05
					.version-description
						.desc 軽微な不具合修正

				.version-detail
					.version-title
						| 3.0.2
						span.codename Rena
						span.release-date 2016.04.29
					.version-description
						.desc 審査対策用の微調整

				.version-detail
					.version-title
						| 3.0.1
						span.codename Rena
						span.release-date 2016.04.26
					.version-description
						.desc P.T.A.ログイン画面の新規会員登録を削除（審査対策）
						.desc スイッチの色をテーマカラーと同様に変更
						.desc ニュースのレイアウトを調整
							
				.version-detail
					.version-title
						| 3.0
						span.codename Rena
						span.release-date 2016.04.17
					.version-description
						.desc 不具合が多かったので作り直し
						.desc アプリカラー設定機能の追加
						.desc 公式ニュース・P.T.A.共に更新通知機能の追加
						.desc P.T.A.関連の機能を自動ログインのみに縮小
						.desc 広告表示の追加
						.desc アイコンを変更
						.desc 避難所を検索できる機能を追加
						
				.icon-container.flex-center
					.icon.ptaios
				.title.flex-center Browser for P.T.A.
				.detail.flex-center.license-detail
					| PerfumeHubの前身
					br

				.version-detail
					.version-title
						| 2.0.1
						span.codename Fukagawa
					.version-description
						.desc 記事の画像が複数ある場合にすべて同じ画像になる問題を修正
						
				.version-detail
					.version-title
						| 2.0.0
						span.codename Fukagawa
					.version-description
						.desc タブ形式のUIに変更(内部コードの大幅変更・追加)
						.desc iPhone 6/6 Plus対応
						.desc 文字サイズの設定を追加
						.desc 既読機能の追加
						.desc 画像保存機能の廃止(試験的にあった機能なので)
						
				.version-detail
					.version-title
						| 1.1.2
						span.codename Akari
					.version-description
						.desc 細かいバグの修正
				.version-detail
					.version-title
						| 1.1.1
						span.codename Akari
					.version-description
						.desc 細かいバグの修正
						
				.version-detail
					.version-title
						| 1.1
						span.codename Akari
					.version-description
						.desc 試験的に画像保存機能を追加
						.desc UIの変更
						
				.version-detail
					.version-title
						| 1.0.1
						span.codename Mizuho
					.version-description
						.desc 細かいバグの修正
						
				.version-detail
					.version-title
						| 1.0
						span.codename Mizuho
					.version-description
						.desc 初版リリース
			
				br


			.footer.flex-center
				.bar
				span PerfumeHub
							
