html
	head
		title 更新履歴
		meta(name="viewport", content="width=device-width, height=device-height, maximum-scale=1.0")
		meta(charset="utf-8")
		link(rel="stylesheet" href="./info/styl/main.css")

	body

		.content-area
			.icon-container.flex-center
				.icon
			.title.flex-center nogi2
			.detail.flex-center.license-detail
				| 更新履歴
				br
					
			.version-list

				.version-detail
					.version-title
						| 2.0.4
						span.release-date 2016.06.02
						span.codename Philadelphia fleabane
					.version-description
						.desc keyaki2ベースで作成・リリース
					
				br

			.footer.flex-center
				.bar
				span nogi2
							
