html
	head
		title 作者の小言
		meta(name="viewport", content="width=device-width, height=device-height, maximum-scale=1.0")
		meta(charset="utf-8")

		link(rel="stylesheet" href="./styl/main.css")

	body
		.content-area
			.icon-container.flex-center
				.icon
			.title.flex-center 作者の小言
			.detail.flex-center お知らせもあるよ
			.article-list

				a.article-link(href="./release20161209_4-0-3.html")
					span.article-title v4.0.3リリースしました
					span.article-date 2016/12/09 ぴた﨑

				a.article-link(href="./release20161129_4-0-2.html")
					span.article-title v4.0.2リリースしました
					span.article-date 2016/11/29 ぴた﨑
					
				a.article-link(href="./release20161122_issue.html")
					span.article-title 不具合のお知らせ
					span.article-date 2016/11/22 ぴた﨑

				a.article-link(href="./release20161119_v4release.html")
					span.article-title PerfumeHub v4.0リリース！
					span.article-date 2016/11/19 ぴた﨑

				a.article-link(href="./release20161111_adfree.html")
					span.article-title 広告取りました！
					span.article-date 2016/11/11 ぴた﨑

				a.article-link(href="./release20161110_fukuoka.html")
					span.article-title 福岡のお天気情報
					span.article-date 2016/11/10 ぴた﨑

				a.article-link(href="./release20161102_v33release.html")
					span.article-title v3.3 アップデート
					span.article-date 2016/11/2 ぴた﨑

				a.article-link(href="./release20161027_nagoya_weather.html")
					span.article-title 名古屋公演のお天気情報
					span.article-date 2016/10/27 ぴた﨑

				a.article-link(href="./release20161023_ticket.html")
					span.article-title Dome Editionはいいぞ
					span.article-date 2016/10/23 ぴた﨑

				a.article-link(href="./release20161022_otsukare.html")
					span.article-title 京セラ初日お疲れ様でした！
					span.article-date 2016/10/22 ぴた﨑

				a.article-link(href="./release20161005_pta_ios10.html")
					span.article-title iOS10をお使いの方へ
					span.article-date 2016/10/05 ぴた﨑

				a.article-link(href="./release20160503_pta_notification.html")
					span.article-title P.T.A.通知開始のお知らせ
					span.article-date 2016/05/03 ぴた﨑

			.footer.flex-center
				.bar
				span PerfumeHub
