include ./shared/_html-header

html
  +html-header('不具合のお知らせ')
  body
    .content-area
      +content-header('不具合のお知らせ', '2016/11/22', 'ぴた﨑')
      .article
        | こんばんは！
        br
        | 逃げ恥の余韻に浸っているところに
        br
        | 失礼します…
        br
        br
        | 不具合が見つかりました…。
        br
        | 設定内容とスイッチが
        br
        | リンクしない不具合です…。
        br
        br
        | 通知のスイッチを一度オンオフしてもらえればリンクします…。
        br
        b 今晩頑張ってなおすので…
        br
        | よろしくお願いします…。
        br
        br
        img(src='https://img.garlicrice.xyz/pta/2016-11-22-setting-01.png', style='display:inline;width:200px;')
        br
        br
        | スイッチをいじると…↓
        br
        img(src='https://img.garlicrice.xyz/pta/2016-11-22-setting-02.png', style='display:inline;width:200px;')
        br
        | ↑こんな感じに表示が出るので
        br
        | 確認できると思います。
        br
        br
        | アップデートするので先に寝ててください…。
        br
        br
      +content-footer
