include ./shared/_html-header

html
  +html-header('v4.0.2リリース')
  body
    .content-area
      +content-header('v4.0.2リリース', '2016/11/29', 'ぴた﨑')
      .article
        | おはようございます！
        br
        | 今日は朝早いですよ！
        br
        | 一週間前の話ですが…
        br
        br
        | 設定内容とスイッチが
        br
        | リンクしない不具合を修正した
        br
        | v4.0.2をリリースしました。
        br
        br
        | アップデートを行ってもらってから
        br
        | 設定画面で一度確認してもらえれば
        br
        | と思います。
        br
        br
        | よろしくお願いします。
        br
        br
      +content-footer
