include ./shared/_html-header

html
	+html-header('広告取りました！')
	body
		.content-area
			.icon-container.flex-center
				.icon
			.title.flex-center 広告取りました！
			.detail.flex-center 2016/11/11 ぴた﨑
			.article
				| こんばんは！
				br
				| いよいよ福岡公演、千秋楽が明日に
				br
				| なりました！楽しみですね！
				br
				br
				| 僕も突然ですが行くことにしました！
				br
				| 来月から節約しなくては…
				br
				br
				| そんなこんなでPerfumeHub
				br
				b 広告を取りました！ 
				br
				| IYHしたテンションです、いやあ怖い。
				br
				br
				| 私は好きにした、君らも好きにしろ
				br
				br
				| ではでは。
				br
				br
				| アプリを一度終了させてから起動すると
				br
				| 広告消えてると思います！
			+content-footer
