include ./shared/_html-header

html
  +html-header('v4.0.3リリース')
  body
    .content-area
      +content-header('v4.0.3リリース', '2016/12/09', 'ぴた﨑')
      .article
        | おはこんにちばんは！
        br
        br
        | 特に変化はないですが、
        br
        | 中身を整理した
        br
        | v4.0.3をリリースしました。
        br
        br
        | よろしくお願いします。
        br
        br
      +content-footer
