include ./shared/_html-header

html
	+html-header('Dome Editionはいいぞ')
	body
		.header.bg-perfumehub.flex-center
			.header-title.flex-center おしらせ
		.content-area
			.icon-container.flex-center
				.icon
			.title.flex-center Dome Editionはいいぞ
			.detail.flex-center 2016/10/23 ぴた﨑
			.article
				| COSMIC EXPLORER大阪公演二日間
				br
				| お疲れ様でした！
				br
				br
				| やばかったです
				br
				| 心がPerfumeに戻ってきました
				br
				br
				| 名古屋と福岡に行きたくなったあなたへ
				br
				| チケットの情報です。
				br
				br
				| チケットぴあは
				a(href='http://md-search.pia.jp/pia/search_all.do?kw=Perfume') こちら
				br
				| 僕も家族をライブに誘おうと思います。
				br
			+content-footer
