include ./shared/_html-header

html
	+html-header('v3.3アップデート')
	body
		.content-area
			.icon-container.flex-center
				.icon
			.title.flex-center v3.3 アップデート
			.detail.flex-center 2016/11/2 ぴた﨑
			.article
				| おはこんばんは！
				br
				| PerfumeHub v3.3 リリースしました。
				br
				| よろしくおねがいします！
				br
				br
			+content-footer
