include ./shared/_html-header

html
	+html-header('お疲れ様でした！')
	body
		.header.bg-perfumehub.flex-center
			.header-title.flex-center おしらせ
		.content-area
			.icon-container.flex-center
				.icon
			.title.flex-center お疲れ様でした！
			.detail.flex-center 2016/10/22 ぴた﨑
			.article
				| COSMIC EXPLORER大阪公演初日
				br
				| お疲れ様でした！
				br
				br
				| 明日は2日目ですね！
				br
				| 行かれる方は楽しみましょう！
				br
				br
				| 僕は今日参加していないので
				br
				| わかりませんが…
				br
				br
				| ネタバレってダメだよね？
				br
				| ダメならネタバレダメってことで！
				br
				| ひとつよろしくおねがいします。
				br
				br
				| P.S. 誰かごはん行きましょう…
			+content-footer
