include ./shared/_html-header

html
  +html-header('v4.0リリース！')
  body
    .content-area
      +content-header('v4.0リリース！', '2016/11/19', 'ぴた﨑')
			.article
				| こんにちは！
				br
				| PerfumeHub v4.0を
				br
				| さきほどリリースしました！
				br
				br
				| 新機能は特にありませんが
				br
				| 通知関連の処理を見直しています。
				br
				br
				| アップデート後に通知のスイッチを
				br
				b 一度オンオフしてもらえると
				br
				| 確実に通知を受け取れるように
				br
				| なると思います。
				br
				br
				| v3をお使いの方は、このお知らせと共に
				br
				| 通知が飛ばなくなりますので、お早めの
				br
				| アップデートをお願いします。
				br
				br
				| これからもPerfumeHubを
				br
				| よろしくお願いします。
				br
				| レビューを書いてくださると喜びます！
				br
				| バージョンアップの度に消えてしまうのが
				br
				| 残念ですよね…毎回書いて欲しいなぁ…
				br
				br
			+content-footer
